:root {
    --branco: #FFFFFF;
    --branco-bg: #F5F5F5;
    --cinza: #E5E5E5;
    --darkViolet: #9400D3;
    --preto: #464646;
    --LessViolet: #F3DCFD;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--branco-bg);
}

a {
    text-decoration: none;
}

.secao__Titulo {
    font-weight: 700;
    color: var(--preto);
    font-size: 1.5rem;
    text-align: center;
    padding: 16px 0 32px;
}

/* Header */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.container__fotoTitulo {
    display: flex;
    align-items: center;
}

.meuNome {
    padding-left: 5px;
    font-weight: 700;
    font-size: 1rem;
}

.memoji {
    width: 24px;
    height: 24px;
}

.link__site {
    color: var(--preto);
    font-size: 0.8rem;
}

/* Seção Apresentação */

.secao__apresentacao {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.minha__foto {
    width: 98px;
    height: 98px;
}

.apresentando {
    font-weight: 700;
    font-size: 1.3rem;
}

.resumo {
    font-size: 1rem;
    color: var(--preto);
}

.container__redeSociais {
    display: flex;
    gap: 8px;
}

.redeSociais {
    font-weight: 700;
    font-size: 0.95rem;
    color: var(--preto);
}

/* Secao Sobre mim */

.secao__sobreMim {
    background-color: var(--LessViolet);
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.secao__TituloSM {
    font-weight: 700;
    color: var(--preto);
    font-size: 1.5rem;
}

.resumo__Sobremim {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--preto);
}

.assinatura {
    width: 140px;
    height: 52px;
}

/* Secao Skills e Hobbies */

.container__dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px 0;
}

.dados__card {
    background: var(--branco);
    width: 156px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
}

.simbologias {
    width: 30px;
    height: 27px;
    padding: 0 16px;
}

.simbologia__titulo{
    font-weight: bold;
    color: var(--preto);
    padding: 0 16px 16px;
}

/* Seção Formação acadêmica */

.secao__fAcademica {
    background-color: var(--LessViolet);
}

.ensino__container, .experiencia__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.ensino__card {
    width: 296px;
    height: 169px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ensino__dados {
    background-color: var(--branco);
    height: 118px;
    display: flex;
    justify-content: center;
}

.ensino__assunto {
    font-weight: 700;
    color: var(--preto);
}

.ensino__duracao {
    font-weight: 500;
    font-size: 0.9rem;
}

.espaco {
    padding-bottom: 32px;
}

/* Experiência Profissional */
.experiencia__dados {
    height: 300px;
}

.experiencia__card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 100px;
}

.experiencia__imagemContainer {
    padding-bottom: 16px;
}

.experiencia__imagem {
    width: 296px;
    height: 144px;
}

.botoes {
    display: flex;
    gap: 8px;
}

.direcionador__link {
    width: 90px;
    padding: 12px 16px;
    border: solid;
    text-align: center;
    border: var(--darkViolet) solid;
    color: var(--darkViolet);
}

.Site {
    background-color: var(--darkViolet);
    color: var(--branco);
}
